---

platform: linux

image_resource:
  type: docker-image
  source:
    repository: dyanngg/nsx-t-gen-worker
    tag: proxyenabled

inputs:
  - name: nsx-t-gen-pipeline
  - name: nsxt-ansible
  - name: ovftool

run:
  path: nsx-t-gen-pipeline/tasks/install-nsx-t/task.sh
